<header class="header page__container">
	<a class="header__logo-link header__logo-link--img" {% if permalink == "./" %} href="#!"  id="index" aria-current="page" {% else %} href="index.html" {% endif %}>
		<picture>
			<source media="(min-width: {{ viewports.desktop }}px)" srcset="./img/logo-sprite.svg#logo-img-desktop">
			<source media="(min-width: {{ viewports.tablet }}px)" srcset="./img/logo-sprite.svg#logo-img-tablet">
			<img class="header__logo-img" src="./img/logo-sprite.svg#logo-img-mobile" width="34" height="38" alt="Логотип магазина рисунок кота">
		</picture>
	</a>
	<a class="header__logo-link header__logo-link--text" {% if permalink == "./" %} href="#!"  id="index" aria-current="page" {% else %} href="index.html" {% endif %}>
		<picture>
			<source media="(min-width: {{ viewports.tablet }}px)" srcset="./img/logo-sprite.svg#logo-text-tablet">
			<img class="header__logo-text" src="./img/logo-sprite.svg#logo-text-mobile" width="101" height="18" alt="Логотип магазина надпись Cat Energy">
		</picture>
	</a>
	<button class="burger" type="button" aria-label="Кнопка открытия или закрытия бургер-меню"><span class="burger__line"></span></button>
	<nav class="header-nav nav">
		<ul class="nav__list">
			{% for page in pages %}
			<li class="nav__item">
				<a href="{{ page.path }}" class="nav__link link {% if permalink == page.path %} link--current {% endif %}" {% if permalink == page.path %} aria-current="page" {% endif %}>{{ page.name }}</a>
			</li>
			{% endfor %}
		</ul>
	</nav>
</header>
